.custom-shape-divider-bottom-1679823519 {
  position:relative;
  left: 0;
  width: 100%;
  overflow: hidden;
  bottom: 0;

}

.bottom-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
}


.custom-shape-divider-bottom-1679823519 svg {
  position: relative;
  display: block;
  width: 100%;
  transform: rotate(180deg);
  overflow: hidden;
}

.custom-shape-divider-bottom-1679823519 .shape-fill {
  fill: #5fc6eb;
  overflow: hidden;
}
.card{
  z-index: 2;
}
.pirate-ship{
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: 0;
  animation: pirate-ship 60s infinite;
  overflow: hidden;
  

}


/* pirate ship animation */
@keyframes pirate-ship{
  0%{
    transform: translateX(-100%);
    overflow:hidden;

  }
  10%{
    transform: translateX(200%);
    overflow:hidden;

  }
  20%{
    transform: translateX(300%);
    overflow:hidden;

  }
  30%{
    transform: translateX(400%);
    overflow:hidden;

  }
  40%{
    transform: translateX(500%);
    overflow:hidden;

  }
  50%{
    transform: translateX(600%);
    overflow:hidden;

  }
  60%{
    transform: translateX(700%);
    overflow:hidden;

  }
  70%{
    transform: translateX(800%);
    overflow:hidden;

  }
  80%{
    transform: translateX(900%);
    overflow:hidden;

  }
  90%{
    transform: translateX(1000%);
    overflow:hidden;

  }
  100%{
    transform: translateX(1200%);
    overflow:hidden;

  }
}

